@{
    ViewData["Title"] = "FlashCards";
}
@model Inquizition.Models.IFlashCards

<section>
    <header class="jumbotron p-0 text-center">
        <h1 class="p-0 mb-1" style="color: #00a9ff">@Model.InputCard.InquizitorName</h1>
        <span class="lead">Flash Cards</span>
        <br />
        @if (Model.InputCard.IsPrivate)
        {
            <span class="lead">Private</span>
        }
        else
        {
            <span class="lead">Public</span>
        }
    </header>
    <!-- Display prior cards -->
    <!-- Set Card Theme -->
    @if (Model.InputCard.CardColor == null)
    {
        <h4>Choose a card color:</h4><br />
        <div class="row">
            <div class="col-2">
                <label class="radio_container" for="blue">
                    Blue
                    <input type="radio" id="blue" asp-for="InputCard.CardColor" value="bg-primary" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="red">
                    Red
                    <input type="radio" id="red" asp-for="InputCard.CardColor" value="bg-danger" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="yellow">
                    Yellow
                    <input type="radio" id="yellow" asp-for="InputCard.CardColor" value="bg-warning" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="grey">
                    Grey
                    <input type="radio" id="grey" asp-for="InputCard.CardColor" value="bg-secondary" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="green">
                    Green
                    <input type="radio" id="green" asp-for="InputCard.CardColor" value="bg-success" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-3">
                <button class="btn btn-primary mb-3" onclick="SetColor()">Confirm Color</button>
            </div>
        </div>
    }
    else
    {
        // Print all previous cards created in current inquizitor
        foreach (FlashCardEntry f in Model.Inquizitor)
        {
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 flip_container">
                    <div id="whole-card" class="flip m-0 p-0">
                        <div class="flip_front w-100">
                            <div class="card">
                                <div class="card-body @Model.InputCard.CardColor">
                                    @f.CardNumber
                                </div>
                            </div>
                        </div>
                        <div class="flip_back w-100">
                            <div class="card">
                                <div class="card-body @Model.InputCard.CardColor">
                                    @f.CardAnswer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    }
    <!-- Card Input -->
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 flip_container">
            <div id="whole-card" class="flip m-0 p-0">
                <form method="post" id="cardForm">
                    <div class="flip_front w-100">
                        <div class="card">
                            <div id="body" class="card-body">
                                <textarea rows="8" class="form-control text-center" asp-for="InputCard.CardBody" placeholder="Enter Body" style="display: block; height: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="flip_back w-100">
                        <div class="card">
                            <div id="answer" class="card-body">
                                <textarea rows="8" class="form-control text-center" asp-for="InputCard.CardAnswer" placeholder="Enter Answer" style="display: block; height: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Add values that do not require user input -->
                    <input type="hidden" asp-for="InputCard.InquizitorName" value="@Model.InputCard.InquizitorName" />
                    <input type="hidden" asp-for="InputCard.IsPrivate" value="@Model.InputCard.IsPrivate" />
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-primary" style="font-size:large;" onclick="Flip()">Flip</button>
    </div>
    <hr />
    <div class="row justify-content-end">
        <button type="submit" form="cardForm" class="btn btn-success mr-2" style="font-size:x-large;">Create Card</button>
    </div>
    <br />
</section>

<script>
    function SetColor() {
        var color = document.querySelector('input[name="InputCard.CardColor"]:checked').value;
        document.getElementById("body").className = "card-body " + color;
        document.getElementById("answer").className = "card-body " + color;
    }

    function Flip() {
        document.getElementById("whole-card").classList.toggle("flip-counter");
    }
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}