@{
    ViewData["Title"] = "FlashCards";
}
@model Inquizition.Models.InputFlashCard

<section>
    <header class="jumbotron p-0 text-center">
        <h1 class="p-0 mb-1" style="color: #00a9ff">@Model.InquizitorName</h1>
        <span class="lead">Flash Cards</span>
        <br />
        @if (Model.IsPrivate)
        {
            <span class="lead">Private</span>
        }
        else
        {
            <span class="lead">Public</span>
        }
    </header>
    <!-- Display prior cards -->
    <!-- Set Card Theme -->
    @if (Model.FirstCard)
    {
        <h4>Choose a card color:</h4><br />
        <div class="row">
            <div class="col-2">
                <label class="radio_container" for="blue">
                    Blue (default)
                    <input type="radio" id="blue" asp-for="CardColor" value="bg-primary" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="red">
                    Red
                    <input type="radio" id="red" asp-for="CardColor" value="bg-danger" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="yellow">
                    Yellow
                    <input type="radio" id="yellow" asp-for="CardColor" value="bg-warning" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="grey">
                    Grey
                    <input type="radio" id="grey" asp-for="CardColor" value="bg-secondary" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
                <label class="radio_container" for="green">
                    Green
                    <input type="radio" id="green" asp-for="CardColor" value="bg-success" form="cardForm" />
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-3">
                <button class="btn btn-primary mb-3" onclick="SetColor()">Confirm Color</button>
            </div>
        </div>
        <input type="hidden" asp-for="FirstCard" value="@Model.FirstCard" form="cardForm" />
    }
    else
    {
        // Print all previous cards created in current inquizitor
        for (int i = 0; i < Model.Inquizitor.Count; i++)
        {
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 flip_container">
                    <div id="@i.ToString()" class="flip m-0 p-0">
                        <div class="flip_front w-100">
                            <div class="card">
                                <div class="text-center card-body @Model.CardColor">
                                    <p style="display:block; width:100%; height:100%">@Model.Inquizitor[i].CardBody</p>
                                </div>
                            </div>
                        </div>
                        <div class="flip_back w-100">
                            <div class="card">
                                <div class="text-center card-body @Model.CardColor">
                                    <p style="display:block; width:100%; height:100%">@Model.Inquizitor[i].CardAnswer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary" style="font-size:large;" onclick="FlipCreated(@i.ToString())">Flip</button>
            </div>
            <br />
        }
        // Retain card color throughout posts
        <input type="hidden" asp-for="CardColor" value="@Model.CardColor" form="cardForm" />
        <input type="hidden" asp-for="FirstCard" value="false" form="cardForm" />
    }
    <!-- Card Input -->
    @if ((bool)ViewData["Profanity"])
    {
        <div class="row justify-content-center">
            <span class="text-danger">Error: Your input contains profanity</span>
        </div>
    }
    <div class="row justify-content-center" onload="ClearInputCard()">
        <div class="col-10 col-sm-8 col-md-6 flip_container">
            <div id="whole-card" class="flip m-0 p-0">
                <form asp-controller="Create" asp-action="FlashCards" id="cardForm">
                    <div class="flip_front w-100">
                        <div class="card">
                            <div id="body" class="card-body @Model.CardColor">
                                <textarea rows="8" id="front-input" class="form-control text-center" asp-for="CardBody" placeholder="Enter Body" style="display: block; height: 100%;"></textarea>
                                <span asp-validation-for="CardBody" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="flip_back w-100">
                        <div class="card">
                            <div id="answer" class="card-body @Model.CardColor">
                                <textarea rows="8" id="back-input" class="form-control text-center" asp-for="CardAnswer" placeholder="Enter Answer" style="display: block; height: 100%;"></textarea>
                                <span asp-validation-for="CardAnswer" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Add values that do not require user input -->
                    <input type="hidden" asp-for="InquizitorName" value="@Model.InquizitorName" />
                    <input type="hidden" asp-for="IsPrivate" value="@Model.IsPrivate" />
                    @if (User.Identity.IsAuthenticated)
                    {
                        <input type="hidden" asp-for="Creator" value="@User.Identity.Name" />
                    }
                    else
                    {
                        <input type="hidden" asp-for="Creator" value="@Model.Creator" />
                    }
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-primary" style="font-size:large;" onclick="FlipCurrent()">Flip</button>
    </div>
    <hr />
    <div class="row justify-content-end">
        <button type="submit" form="cardForm" class="btn btn-success mr-2" style="font-size:x-large;">Create Card</button>
    </div>
    <br />
</section>

@section Scripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
<script src="~/js/site.js" asp-append-version="true"></script>
<script>ClearInputCard();</script>