@{
    ViewData["Title"] = "Manage";
}
@model Inquizition.Models.ManageDisplay

<header class="row">
    <div class="col text-center">
        <h1 class="display-4">View</h1>
        <hr />
    </div>
</header>
@if (Model.FlashInquizitor.Count > 0)
{
    <div class="row justify-content-center">
        <div id="1" class="col-10 col-sm-8 col-md-6 flip_container" style="display:block;">
            <div class="flip m-0 p-0">
                <div class="flip_front w-100">
                    <div class="card">
                        <div class="text-center card-body @Model.Color">
                            <textarea readonly rows="6" class="form-control text-center" style="display: block; height: 100%; font-size:x-large;">@Model.FlashInquizitor[0].CardBody</textarea>
                        </div>
                    </div>
                </div>
                <div class="flip_back w-100">
                    <div class="card">
                        <div class="text-center card-body @Model.Color">
                            <textarea readonly rows="6" class="form-control text-center" style="display: block; height: 100%; font-size:x-large;">@Model.FlashInquizitor[0].CardAnswer</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button id="10" class="btn btn-primary" style="position: sticky; font-size:large; display: block;" onclick="FlipCreated(1)">Flip</button>
    </div>
    <div class="row justify-content-center">
        <button id="next-btn" class="btn btn-primary" style="font-size:large; display: block;" onclick="NextCard(1, 10, 2, 20)">Next</button>
    </div>
    <hr />
    for (int i = 2; i <= Model.FlashInquizitor.Count; i++)
    {
        <div class="row justify-content-center">
            <div id="@i.ToString()" class="col-10 col-sm-8 col-md-6 flip_container" style="display:none;">
                <div class="flip m-0 p-0">
                    <div class="flip_front w-100">
                        <div class="card">
                            <div class="text-center card-body @Model.Color">
                                <textarea readonly rows="6" class="form-control text-center" style="display: block; height: 100%; font-size:x-large;">@Model.FlashInquizitor[i - 1].CardBody</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="flip_back w-100">
                        <div class="card">
                            <div class="text-center card-body @Model.Color">
                                <textarea readonly rows="6" class="form-control text-center" style="display: block; height: 100%; font-size:x-large;">@Model.FlashInquizitor[i - 1].CardAnswer</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button id="@{(i * 10).ToString();}" class="btn btn-primary" style="font-size:large; display: none;" onclick="FlipCreated(@i.ToString())">Flip</button>
        </div>
        <div class="row justify-content-center">
            <button id="next-btn" class="btn btn-primary" style="font-size:large; display: none;" onclick="NextCard(@i.ToString(), @{(i * 10).ToString();}, @{(i + 1).ToString();}, @{((i + 1) * 10).ToString();})">Next</button>
        </div>

        <a style="display:none"></a>
    }
}

<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    function NextCard(current, currentButton, next, nextButton) {
        // Hide current card and button
        document.getElementById(current).style.display = "none";
        document.getElementById(currentButton).style.display = "none";
        // Display next card and button
        document.getElementById(next).style.display = "block";
        document.getElementById(nextButton).style.display = "block";

        // Add condition to unhide an anchor button to refresh and start a card 1 if at last card
    }
</script>
